body{
    text-align: center;
    margin: 4px;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    margin: 17px 14px;
}

.input-items{
    padding: 5px;

}

.btn{
    background-color: rgb(80, 78, 78);
    border-radius: 0.5rem;
    width: 200px;
    color: white;
    transition: all 0.4s linear 0.1ms;
}

.btn:hover{
    /* width: 155px; */
    background-color:#e9ecef;
    color: black;
    font-size: large;
}